@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.about-info-div{
  background: rgb(255,255,255) !important;
  background: linear-gradient(0deg, rgba(255,255,255,0) 8%, rgba(255,255,255,0.227328431372549) 18%, rgba(255,255,255,0.6923144257703081) 41%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%) !important;
}

.about-bg-image{
  background-image: url('https://i.ibb.co/f9VyxmD/101437826-114057670323532-5750187153158045696-n.jpg') !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;  
  background-size: cover !important;
}
